.navbar{
    background-color: rgba(165, 165, 165, 0.861);
    height: 60px;
}
.navbar-brand img{
    width: 160px;
    padding-left: 30px;
}

.nav-content{
  padding-right: 30px;
}

.navbar-nav a{
    padding: 6px 20px !important;
    font-size: 20px;
    font-weight: 600;
    color: black;

}


.navbar-nav a:hover{
    background-color: black;
    color: whitesmoke;
    position: relative;
    transition: 0.5s;
}
